
.header {
	border-bottom: 1px solid #ececec;

        & .container{
            display:flex;
            align-items: center;
        }
}

.navigation{
    display: flex; 
    align-items: center;


        &__list{
            display: flex;
            align-items: center;
        }

        &__item{
            margin-right: 46px;
            padding-top: 32px;
            padding-bottom: 32px;
        }
        
        &__item::not(last-child){
            margin-right: 50px;
            padding-top: 32px;
            padding-bottom: 32px ;
        }
        
        &__link{
            font-weight: 500;
            font-size: 14px;
            line-height: 1.143;
            letter-spacing: 0.02em;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        &__link{
            position: relative;
            color: var(--secondary-color);
        }
        
        &__link ::after{
            position: absolute;
            content:" ";
            display:block;
            width: 0;
            height: 4px;
            border-radius: 2px;
            background: var(--main-color);
            top: 45px;
            right: 0;
            transition: width 250ms, left 250ms cubic-bezier(0.4, 0, 0.2, 1);

        }

        &__link :focus::after,
        &__link :hover::after{
            width:100%;
            left: 0;
        }
    }
    .active__link{
        &--link{
            position: relative;
            color: var(--main-color);
        }
        
        &--link::after{
            position: absolute;
            content:" ";
            display:block;
            Width: 0;
            height: 4px;
            border-radius: 2px;
            background: var(--main-color);
            bottom: 32px;
            right: 0;
        }
    }

.address__list {
    display: flex;
    align-items: center;
}
.header .address{
    margin-left: auto;
}
.email{
    margin-right: 50px;
}

.email:hover,
.email:focus,
.phone-number:focus,
.phone-number:hover{
    color: var(--main-color);
}


.email,
.phone-numer{

    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email,
.phone-number{
    color: var(--acccent-color);
}
.envelope__icon{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.mobile__icon{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}